<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="recorder1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <recorder1.Properties.Settings>
            <setting name="ShowClicks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPointer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputDeviceNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputDeviceNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecordIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordOut" serializeAs="String">
                <value>False</value>
            </setting>
        </recorder1.Properties.Settings>
    </userSettings>
</configuration>